.git
.gitignore
.devctl
.ttmp.yaml
ttmp

web/node_modules
web/dist
web/.manus-logs
web/public/__manus__/version.json

bin
internal/web/embed/public/*
!internal/web/embed/public/.gitkeep

**/*.log
.DS_Store
